body[data-theme="dark"] {  

   @import '../src/scss/dark-slider.scss';
   
   .slider-tab {
      background-color: black !important;
   }

   .slider-image {
      border: 5px solid black !important;
   }

   .link-href{
      color: white !important;
   }

   .button{
      background-color: white;
   }
   .button:hover{
      background-color: #edd7d3;
   }

   #home{
      background-color: #4c6b66;
      h1 {
         color: white;
      }

      .title-styles {
         color: white;
      }

      .header-icon {
         color: #1f1f1f;
      }
   }

   #about {
      background: #232c2f;
      h1 {
         color: white;
      }
      .polaroid {
         background: #F1EFEF;
      }
      .card {
         background: #343239;
         color: white;
      }
      .card-body{
         background: transparent;
      }
      .mini-logo, .mini-nav i{
         color: #343239;
      }
   }

   #portfolio {
      background: #4c6b66 ;

      .section-title {
         color: white !important;
      }
      .foto div {
         background:#343239;
      }
      .foto img{
         border: 1px solid #343239
      }
      .project-title-settings {
         color: white;
      }
      .project-date{
         background: black;
         color: white;
      }      
   }

   #resume {
      // filter: brightness(80%);
      background: #485d63;

      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #333745 !important;
         color: white !important ;
      }

      .main-badge {
         background: #353b3d !important;
         color: white;
      }

      .vertical-timeline-element-date {
         color: white !important;
      }

      .vertical-timeline-element-icon {
         background: #353b3d !important;
      }
   }

   .modal-inside .modal-content {
      background: #232c2f;
      color: white;
   }

   .close-icon {
      color: white;
   }
}