body[data-theme="dark"] {

   .button{
      background-color: white;
   }
   .button:hover{
      background-color: #edd7d3;
   }

   #home{
      background-color: #4c6b66;
      h1 {
         color: white;
      }

      .title-styles {
         color: white;
      }

      .header-icon {
         color: #1f1f1f;
      }
   }

   #about {
      background: #232c2f;
      h1 {
         color: white;
      }
      .polaroid {
         background: #F1EFEF;
      }
      .card {
         background: #343239;
         color: white;
      }
      .card-body{
         background: transparent;
      }
      .mini-logo, .mini-nav i{
         color: #343239;
      }
   }

   #portfolio {
      background: #4c6b66;

      .section-title {
         color: white !important;
      }

      .project-card {
         background: #343239;
      }

      .project-card-title {
         color: white;
      }

      .project-card-description {
         color: rgba(255, 255, 255, 0.8);
      }

      .project-date {
         background: #232c2f;
         color: white;
      }

      .project-tech-badge {
         background: #485d63;
         color: white;
      }
   }

   #resume {
      // filter: brightness(80%);
      background: #485d63;

      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #333745 !important;
         color: white !important ;
      }

      .main-badge {
         background: #353b3d !important;
         color: white;
      }

      .vertical-timeline-element-date {
         color: white !important;
      }

      .vertical-timeline-element-icon {
         background: #353b3d !important;
      }
   }

   #contact {
      background: #485d63;
      .section-title {
         color: white !important;
      }
      .contact-text {
         color: white;
      }
   }

   .back-to-top {
      background-color: #4c6b66;
      border-color: rgba(255, 255, 255, 0.4);
      &:hover {
         background-color: #98b6b1;
      }
   }
}